# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Chroma folder
chroma_db/
chroma_db_10*

# logs folder 
logs/

data/




*.ipynb
temp.json